{{page-title (t "agenda-title")}}
<Auk::Navbar @skin="gray-100" @auto={{true}}>
  <Auk::Toolbar>
    <Auk::Toolbar::Group @position="left">
      <Auk::Toolbar::Item>
        <div class="auk-o-flex auk-o-flex--vertical">
          <h4 class="auk-toolbar-complex__title"
            data-test-route-agendas-title
          >
            {{t "agenda-title"}}
          </h4>
        </div>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
    <Auk::Toolbar::Group @position="right">
      {{#if this.currentSession.isEditor}}
        <Auk::Toolbar::Item>
          <Auk::Button
            @skin="primary"
            @icon="add"
            {{on "click" this.createNewSession}}
            data-test-route-agendas-new-meeting
          >
            {{t "new-agenda"}}
          </Auk::Button>
        </Auk::Toolbar::Item>
      {{/if}}
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
</Auk::Navbar>
{{outlet}}
{{#if this.creatingNewSession}}
  <Auk::Modal>
    <Auk::Modal::Header 
      @title={{t "new-agenda"}}
      @onClose={{this.cancelNewSessionForm}}
    />
    <Sessions::Forms::NewSession 
      @succesfullyAdded={{this.succesfullyAdded}}
      @cancelForm={{this.cancelNewSessionForm}}
      @formattedMeetingIdentifier={{this.formattedMeetingIdentifier}}
    />
  </Auk::Modal>
{{/if}}
