{{#each subcases as |subcase|}}
  {{#subcases/subcase-item subcase=subcase}}
    <hr class="vlc-hr"/>
    <div class="auk-u-mb-2">
      <p class="vlc-subline">
        {{await subcase.case.type.label}}
      </p>
    </div>
    <div class="auk-u-mb-2">
      <div class="vl-title vl-title--h5">
        {{subcase.shortTitle}}
      </div>
    </div>
    <div class="auk-u-mb-4">
      <p class="auk-u-text-pre-line">
        {{subcase.title}}
      </p>
    </div>
    {{#if (gt (await subcase.pieces.length) 1)}}
      <WebComponents::AuAccordion @label={{t "documents"}}>
        <div class="auk-u-mt-4">
          {{utils/pieces-list-for-item agendaitemOrSubcase=subcase isClickable=true}}
        </div>
      </WebComponents::AuAccordion>
    {{/if}}
  {{/subcases/subcase-item}}
{{/each}}